input[type="text"],[type="password"],[type="email"],[type="number"],[type="color"]{
    height: 30px;
    width: 80%;
    margin: 10px;
}
body{
    background: url("www.madebyvadim.com.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.main{
    margin: auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.452);
    padding: 30px;
    color: aliceblue;
    font-weight: bold;

}
/* !important  stops any class beimg getting overrided */
::placeholder{color:green;}
input:focus{
    border: 5px solid green;
    outline: none;
}
input:not([type=email]){
    background-color: rgb(219, 192, 133);
}
